<div class="area-list" cdkVirtualScrollingElement>
  <h2 mat-subheader>Suggestions</h2>

  <mat-selection-list #list
    [multiple]="false"
    (selectionChange)="onSelectionChange($event)"
  >
    <cdk-virtual-scroll-viewport
      itemSize="48"
    >
      <mat-list-option
        *cdkVirtualFor="let suggestion of suggestions"
        [value]="suggestion"
        [selected]="selection.isSelected(suggestion)"
      >
        {{ suggestion }}
      </mat-list-option>
    </cdk-virtual-scroll-viewport>
  </mat-selection-list>
</div>

<p>Selected: {{ selected }}</p>

<span>Form Placeholder</span>
