:host {
  display: grid;
  grid-template-columns: min(400px, 50%) 1fr;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "list add"
    "list details";
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
      "add"
      "list"
      "details";
  }
}

.suggestions-list {
  grid-area: list;

  [mat-subheader] {
    position: sticky;
    top: 0;
    margin-bottom: 0;
    background: rgb(250,250,250);
    background: linear-gradient(to top, #fafafa00, #fafafa 16px);
    z-index: 1;
  }

  mat-selection-list {
    padding-top: 0;
  }
}

.add-suggestion {
  grid-area: add;
  margin: 16px;
  margin-bottom: 0;
}

.suggestion-details {
  grid-area: details;
  margin: 16px;
}

