:host {
  display: grid;
  grid-template-columns: auto 450px;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "list add"
    "list details";
  width: 100%;
  max-width: 1000px;
  height: 100%;
  gap: 8px;
  box-sizing: border-box;
  margin: 0 auto;
}

.area-list {
  grid-area: list;

  [mat-subheader] {
    position: sticky;
    top: 0;
    margin-bottom: 0;
    background: rgb(250,250,250);
    background: linear-gradient(to top, #fafafa00, #fafafa 16px);
    z-index: 1;
  }

  mat-selection-list {
    padding-top: 0;
  }
}

p {
  grid-area: details;
}

span {
  grid-area: add;
}
